h1 {
    text-align: center;
    background-color: rgb(175, 19, 40);
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15px;
}

.home {
    text-align: center;
    background-color: rgba(134, 134, 134, 0.637);
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    height: 500px;
 }
 
 .web {
    position: absolute;
    top: 25%;
    left: 43.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    font-size: 25px;
 }

 .about {
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: transparent;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 

 .navbar {
    background-color: rgb(145, 109, 109);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-radius: 5px;
 }
 
 .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
 }
 
 .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
 }
 
 .nav-links a:hover {
    color: rgb(175, 19, 40);
    border-radius: 5px;
 }
 
 @media screen and (max-width: 500px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
 }
 